body{
    margin: 0;
    padding: 0;

}


nav{
    background-color: #AE3616;
    text-align: center;
    height: 74px;
}

.buttonNave ul{
    list-style: none;
    padding: 30px;
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 0;
    
}

.buttonNave a{
    text-decoration: none;
    color: #F6EBD9;
}

.sessao1{
    margin: 0;
    background-image: url('../arquivos/Background-Inicio.png');
    height: 400px
}

.sessao1 h1{
    margin-top: 0;
}

.logoInicio{
    max-width: 350px;
    position: absolute;
    right: 100px;
}


