body{
    margin: 0;
    padding: 0;

}

@font-face {
    font-family:"ADLaM" ;
    src: url(../arquivos/ADLaMDisplay-Regular.ttf);
}


nav{
    background-color: #AE3616;
    text-align: center;
    height: 90px;
}

.buttonNave ul{
    list-style: none;
    padding: 30px;
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 0;
    
}

.buttonNave a{
    text-decoration: none;
    color: #F6EBD9;
}

.sessao1{
    margin: 0;
    background-image: url('../arquivos/Background-Inicio.png');
    height: 400px
}

.sessao1 h1{
    margin: 0;
    margin-top: 0px;
}

.logoInicio{
    max-width: 350px;
    position: absolute;
    right: 100px;
}

.sobre-nos {
    margin: 0;
 margin-left: 100px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
  height: 300px;

  font-family: "ADLaM", sans-serif;
}

.sobre-img img {
  width: 380px;
  height: 300px;
  border-radius: 16px;
  object-fit: cover;
}

.sobre-texto {
  max-width: 450px;
}

.sobre-texto h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
}

.btn-noticias {
  display: inline-block;
  padding: 12px 28px;
  background-color: #c14c26;
  color: white;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
}

.botoeslocais{
    background-color: rgba(206, 175, 184, 0.26);
}

.botoeslocais button{
    background-color:  #AE3616;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    padding: 100px;
    margin: 100px;
    align-items: center;
}

.personagens{
    display: flex;
    height: 50px;
    justify-content: center;
}


.personagens div{
    text-align: center;
    margin-left: 170px;

}

.personagens img{
    margin: 40px;
    height: 350px;
    margin-right: 150px;
    border-radius: 20px;
   
}

.personagens button{
    border: none;
    background-color: #AE3616;
    margin: 50px;
    height: 60px;
    width: 350px;
    border-radius: 10px;
}

.guias img{
    margin: 0;
    display: flex;
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    
}
.guiasimg{
    
    text-align: center;
    margin-top: 500px;
    margin-bottom: 50px;}



