    @font-face {
        font-family:'ADLaM' ;
        src: url('../arquivos/ADLaMDisplay-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

body {
    background-color: #F6EBD9;
 }

 .ppop {
    width: 50%;
    margin: 0 auto; 

 }

  .perso {
  width: 50%;
  margin: 0 auto; 


 }

 .imagens {
    width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5%;
  filter: drop-shadow(5px 5px 15px black)
 }

 p {
    
font-family: 'ADLaM', Times, serif;
font-size: 25px;
font-weight: nomral;


    
    text-align: center;
 }

 h2 {
font-family: 'ADLaM', Times, serif;
font-size: 25px;
font-weight: nomral;
    




    
    text-align: center;
 }

h1 {

font-family: 'ADLaM', Times, serif;
font-size: 25px;
font-weight: nomral;    




    
    text-align: center;
}

button {
    background-color: #AE3616;
    border-radius: 15px;
    text-decoration: none;

}

a {

    background-color: #AE3616;
    text-decoration: none;
    text-align: center;


    display: block; /* Transforma o botão em um elemento de bloco */
  width: 150px;   /* Define uma largura (necessário para margin: auto) */
  margin: 0 auto; /* Centraliza horizontalmente com margens automática */
  text-align: center;
}

