/* ============================== ESTILOS DO PROJETO VISSE POR AÍ Explicado de forma simples ============================== */

/* ---- CORES DO PROJETO ---- Laranja forte: #E06829 Bege claro do fundo: #F4E9D8 Marrom escuro do texto: #4A1E0A */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

/* Barra laranja do topo */
.top-bar {
    width: 100%;
    height: 70px;
    background-color: #E06829;
}

/* ---- SEÇÃO HERO (PRIMEIRA PARTE) ---- */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F4E9D8;
}

.logo-area h1 {
    font-size: 40px;
    font-weight: 900;
    color: #4A1E0A;
    margin-left: 50px;
}

.logo-area p {
    margin-top: 8px;
    color: #4A1E0A;
    font-size: 16px;
    margin-left: 50px;
}

.btn {
    margin-top: 15px;
    background-color: #E06829;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-left: 50px;
}

/* ---- GALERIA DE FOTOS ---- */
.galeria {
    display: flex;
    gap: 10px;
}

.galeria img {
    /* width: 120px; */
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
}

.sobre {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    gap: 20px;
}

.sobre-img {
    width: 200px;
    height: 350px;
    background-color: #ccc;
    border-radius: 10px;
}